.container{
    height: 60vh;
    margin-top: 10vh;
}
.toskInputArea{

    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    height: 3rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: 0 0 6px;

}
button{
    width: 3rem;
    height: 2rem;
    margin: auto 0.5rem;
    border-radius: 0.5rem;
    border: none;
}


/* js style */
.taskStyle{
    font-family: sans-serif;
    height: fit-content;
    list-style-type: none;
    width:30rem;
    display:flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: whitesmoke;
    position: relative;
    margin-bottom: 1rem;
}
.taskStyle .listStyle{
    width: 20rem;
}

.taskStyle button{
    position: absolute;
     width: 3rem;
     height: 2rem;
     border-radius: 5px;
}
.taskStyle .checkBtn{
    border: 2px solid orange;
    color: orange; 
    right: 4rem;
}
.taskStyle .deletBtn {
    right: 2px;
    border: 2px solid red;
    color: red;
}

.taskStyle .checked {
    text-decoration: line-through;
    opacity: .5;
    font-style: italic;
    transition: 0.5s;
}